/Code
/.vscode
/dconf
/QtProject
/qBittorrent
/pulse
/obs-studio
/mpv
/nautilus
/yay
/nwg-look
/nwg-displays
/mozilla
/htop
/go
/discord
/xsettingsd
/spotify
mimeapps.list
pavucontrol.ini
/kitty/kitty.conf.bak
gtk-3.0/colors.css
gtk-4.0/colors.css
hypr/colors.conf
yazi/theme.toml
wofi/colors.css
wlogout/colors.css
waypaper/config.ini
waypaper/colors.css
swaync/colors.css
qt6ct/colors/matugen.conf
qt5ct/colors/matugen.conf
obs-studio/themes/matugen.obt
kitty/themes/Matugen.conf
kitty/current-theme.conf
quickshell/common/looks/colors.json
/quickshell/.qmlls.ini
hypr/colors.conf
