[SddmGreeterTheme]
Name=peridot-sddm
Description=Material Design 3 SDDM theme matching the peridot Hyprland shell
Authors=Armin Baymani
Website=
MainScript=Main.qml
ConfigFile=theme.conf
Version=1.0
QtVersion=6
Theme-API=2.0
